{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{{ form_start(form, {'action': path('search_quick_form'), 'attr': {'class': 'fos_user_registration_register master_slave form-horizontal'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.seek) }}
    {{ form_row(form.ageFrom) }}
    <div class="clear-filter form-inline">
        <label class="select-inline">
        Age From {{ form_widget(form.ageFrom) }}
        </label>
        <label class="select-inline">
            To{{ form_widget(form.ageTo) }}
        </label>
    </div>
    {{ form_row(form.lookingFor) }}
    <div class="master_slave">
        <div>
            {{ form_row(form.country) }}
        </div>
        {% if (form.state is defined) %}
            <div class="slave_block">
                {{ form_row(form.state) }}
            </div>
        {% endif %}
    </div>
{{ form_end(form, {'render_rest': false}) }}
{#{{ form_end(form, {'render_rest': false}) }}#}