{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}
{% form_theme form 'ConnectionUserBundle:Search:fields.html.twig' %}

{% block theme %}search-event{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Search</li>
        </ul>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <h4>Search</h4>
        <div class="search-form">
            {{ form_start(form, {'action': path('user_search'), 'attr': {'class': 'search-result master_slave '}}) }}
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.gender, {'attr': { 'class': 'radio-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.seek, {'attr': { 'class': 'radio-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.ageFrom, {'attr': { 'class': 'select-inline' }, 'label': 'Age from' }) }}
                            {{ form_row(form.ageTo, {'attr': { 'class': 'select-inline' }, 'label': 'to' }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.lookingFor, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-inline">
                        <div class="row">
                            <div class="master_slave">
                                <div>
                                    {{ form_row(form.country, {'attr': { 'class': 'select-inline master'} }) }}
                                </div>
                                {% if (form.state is defined) %}
                                    <div class="slave_block">
                                        <label class="select-inline">
                                            State {{ form_widget(form.state, { 'attr': { 'class': 'form-control slave' }}) }}
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {{ form_row(form.education, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.profession, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-inline">
                        {{ form_row(form.languages, {'attr': { 'class': 'select-inline'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.maritalStatus, {'attr': { 'class': 'radio-inline'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.minimumHeight, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.maximumHeight, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.minimumWeight, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.maximumWeight, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.eyeColor, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.hairColor, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.smoking, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.drinking, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.income, {'attr': { 'class': 'inline-labels'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.religion, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.haveChildren, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.wantChildren, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.livesWithChildren, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.openToPersonWithKids, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-inline">
                        <div class="row">
                            {{ form_row(form.ethnicity, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.zodiacSign, {'attr': { 'class': 'select-inline'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline text-center">
                    <button type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
                    <button type="reset"><span class="glyphicon glyphicon-trash"></span> Reset</button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <div class="row results-line"><span>results found</span></div>
    <div class="row found-1">
        {% if users is defined and users is not empty %}
            {% for user in users %}
                <div class="col-xs-2">
                    <div class="event-small">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="title" href="{{ path('view_profile', {'id': user.profile.id}) }}">
                                    <img style="height: 200px; overflow: hidden;" src="{{ user.profile.avatar is defined ? user.profile.avatar : ""  }}" alt=""/>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <time>{{ user.profile.birthdate|userAge }}{{ user.profile.state.name is defined ? ", " ~ user.profile.state.name : ""}}</time>
                            <a class="title" href="{{ path('view_profile', {'id': user.profile.id}) }}">{{ user.userName }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {% if nextPage is defined and nextPage %}
            <a class="btn btn-info pull-right" href="{{ path('user_search', {'page': nextPage}) }}">Next Page</a>
        {% endif %}
    </div>
{% endblock %}