<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default() }}
            {% endblock %}
        </title>

        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default() }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default() }}">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/jquery-ui-1.11.1/jquery-ui.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/bootstrap-theme.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/bootstrapselect/bootstrap-select.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/popup/popup.css') }}" type="text/css" />

        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
            '@ConnectionWebBundle/Resources/assets/css/frontend.css'
            '@ConnectionWebBundle/Resources/public/css/main.css'
            '@ConnectionWebBundle/Resources/public/css/sprite.css'
            '@ConnectionWebBundle/Resources/public/css/datepicker.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body class="{% block theme %}{% endblock %}">
        {% block header %}
            {% include 'ConnectionWebBundle:Frontend/Parts:_header.html.twig' %}
            {{ render(controller("ConnectionWebBundle:Frontend:topNavbar")) }}
        {% endblock %}

        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'notice', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="alert global-alert alert-{{ name == 'fos_user_success' ? 'success' : name == 'error' ? 'danger' : name == 'notice' ? 'warning' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block main %}

            {# <div> With Background image will be generated here#}
            {% block background %}
                <div class="jumbotron">
            {% endblock %}
                {% block breadcrumbs %}{% endblock %}
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer %}
        <div class="container" style="margin-top: 100px">
            <footer>
                {#{% include 'ConnectionWebBundle:Frontend:_footer.html.twig' %}#}

                <div class="col-xs-2">
                    <div class="footer-logo logo-bottom"></div>
                </div>
                <div class="col-xs-6">
                    <p class="copy">2014 All rights reserved. Copyright Terms of service/Privacy policy Info@ConnectionRu.com</p>
                </div>
                <div class="col-xs-4">
                    <ul class="bottom-right-menu">
                        <li><a href="{{ path('connection_about') }}">About us</a></li>
                        <li><a href="{{ path('connection_privacy') }}">Privacy</a></li>
                        <li><a href="{{ path('connection_contact') }}">Contact us</a></li>
                        <li class="sprite sprite-rss"></li>
                        <li class="sprite sprite-facebook"></li>
                        <li class="sprite sprite-twitter"></li>
                        <li class="sprite sprite-instagram"></li>
                        <li class="sprite sprite-pinterest"></li>
                    </ul>
                </div>
            </footer>
        </div>
        {% endblock %}

        {% block popup %}
        {% endblock %}
        {% block tellAFriend %}
            {{ render(controller("ConnectionWebBundle:Frontend:tellAFriendEndPoint", {'link': app.request.uri})) }}
        {% endblock %}

        {# javascript... #}
        {% block javascript %}
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jquery-1.11.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/bootstrapselect/bootstrap-select.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/common.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/tell-a-friend.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/connectionuser/js/registration.js') }}"></script>
            <script type="text/javascript"> $(function() { FormAjaxFields.init(); }) </script>

            {% javascripts output='assets/compiled/frontend.js'
                '@ConnectionWebBundle/Resources/assets/js/frontend.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <div class="global-loader hide"><span>Please Wait...</span></div>
    </body>
</html>
