{% if userPhotos is defined and userPhotos is not empty %}
    {% for gallery in userPhotos %}
        {% for galleryName, images in gallery %}
            <div class="row profile-gallery">
                {% for image in images %}
                    <div class="profile-image-box">
                        <img src="{{ image.path }}" data-image_id="{{ image.id }}">
                        <a data-href="{{ path('remove_profile_image', {id: image.id}) }}" class="btn btn-danger profile-image-remove" data-toggle="confirmation">Remove</a>
                    </div>
                {% endfor %}
                <div class="add-image dz-upload-image">
                    <img src="{{ asset('bundles/connectionweb/img/add_user.png') }}">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% else %}
    <div class="row profile-gallery">
        <div class="add-image dz-upload-image">
            <img src="{{ asset('bundles/connectionweb/img/add_user.png') }}">
        </div>
    </div>
{% endif %}