{% if app.user and app.user != user %}
    {% if app.user.hasFavoriteUser(user) %}
        <a href="{{path('favorite_user_remove',{'id':user.id} )}}" class="btn btn-xs btn-info" title="Remove user from favorites">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
    {% else %}
        <a href="{{path('favorite_user_add',{'id':user.id} )}}" class="btn btn-xs btn-info" title="Add user to favorites">
            <span class="glyphicon glyphicon-star"></span>
        </a>
    {% endif %}
    <a href="{{ path('message_new', {id: user.id}) }}" class="btn btn-xs btn-info" title="Send message to this user">
        <span class="glyphicon glyphicon-envelope"></span>
    </a>
    <a id="tell-a-friend" href="#" class="btn btn-xs btn-info" title="Share with a friend">
        <span class="glyphicon glyphicon-share"></span>
    </a>
    <a id="tell-a-friend" href="#" class="btn btn-xs btn-info  fos-message hi-message" title="Send 'Hi' message to show interest">
        <span class="glyphicon">Hi!</span>
    </a>
{% else %}
    <a href="{{path('fos_user_quick_register')}}" class="btn btn-xs btn-info" title="Add user to favorites">
        <span class="glyphicon glyphicon-star"></span>
    </a>
    <a href="{{path('fos_user_quick_register')}}" class="btn btn-xs btn-info" title="Send message to this user">
        <span class="glyphicon glyphicon-envelope"></span>
    </a>
    <a href="{{path('fos_user_quick_register')}}" class="btn btn-xs btn-info" title="Share with a friend">
        <span class="glyphicon glyphicon-share"></span>
    </a>
    <a href="{{path('fos_user_quick_register')}}" class="btn btn-xs btn-info" title="Send 'Hi' message to show interest">
        <span class="glyphicon">Hi!</span>
    </a>
{% endif %}
