<div class="fm-popup-image-area">
    <form name="jcrop" action="{{ oneup_uploader_endpoint('user') }}" id="profile-images" style="min-height: 300px;">
        <div class="fm-top-inventory">
            <label form="profile_default_image">Set as default profile image
                <input name="profile_default_image" type="checkbox">
            </label>
            {% if galleries is defined %}
                <label form="profile_default_image">Gallery
                    <select name="gallery">
                        {% for gallery in galleries %}
                            <option value="{{ gallery.id }}">{{ gallery.title }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}
        </div>
        {{ form_rest(form) }}
        {#<input type="hidden" name="property_id" value="{{ property.id }}">#}
    </form>
</div>
