{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{% block theme %}create-profile{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Profile</li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/dropzone/css/dropzone.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionuser/css/profile.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/jcorp/css/jquery.Jcrop.min.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <h4>Account:</h4>
        <div class="row">
            <div class="col-xs-2">
                <div class="fm-show-popup" data-target_popup="profile-image">
                    <div id="add-photo">
                        {% if app.user.profile.avatar is defined and app.user.profile.avatar is not empty %}
                            <img class="img-rounded" width="140px" height="190" src="{{ app.user.profile.avatar }}">
                        {% else %}
                            <div class="msg">
                                <div class="sprite sprite-add-photo"></div>
                                + Add photo
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <ul class="nav nav-tabs" id="profile-tabs">
                    <li class="active"><a href="#profile">Profile</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <div class="col-xs-5">
                            {{ include('ConnectionUserBundle:Profile:personal_info.html.twig', {form: form}) }}
                        </div>
                    </div>
                    <div class="tab-pane" id="gallery">
                        {{ include('ConnectionUserBundle:Profile:gallery.html.twig', {userPhotos: userPhotos}) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block popup %}
    {{ include('ConnectionWebBundle:Frontend/Popups:profile_image_popup.html.twig') }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone-custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/popup/popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/jquery.Jcrop.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            DropZoneStoreage.initDropZone(
                    "{{ path('profile_image') }}",
                    "{{ path('profile_image') }}"
            );
        });
        FM.popUp.profileImage();

        $('#profile-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
{% endblock %}