{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{% block theme %}create-profile{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Profile</li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/dropzone/css/dropzone.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionuser/css/profile.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/jcorp/css/jquery.Jcrop.min.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <h4>Account:</h4>
        <div class="row">
            <div class="col-xs-2">
                <div class="fm-show-popup" data-target_popup="profile-image">
                    <div id="add-photo">
                        {% if app.user.profile.avatar is defined and app.user.profile.avatar is not empty %}
                            <img class="img-rounded" width="140px" height="190" src="{{ app.user.profile.avatar }}">
                        {% else %}
                            <div class="msg">
                                <div class="sprite sprite-add-photo"></div>
                                + Add photo
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="text-center profile-image-buttons">
                    <div class="profile-image-button">
                        {% if app.user.profile.avatar is defined and app.user.profile.avatar is not empty %}
                            <a href="#" class="btn btn-success dz-upload-image">Change Photo</a>
                        {% else %}
                            <a href="#" class="btn btn-success dz-upload-image">+ Add photo</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <ul class="nav nav-tabs" id="profile-tabs">
                    <li class="{%if tab == '' or tab == 'profile' %}active{% endif %}"><a href="#profile">Profile</a></li>
                    <li class="{%if tab and tab == 'gallery' %}active{% endif %}"><a href="#gallery">Gallery</a></li>
                    {% if favourites is defined and favourites is not empty %}
                        <li class="{%if tab and tab == 'favourites' %}active{% endif %}"><a href="#favourites">Favourites</a></li>
                    {% endif %}
                    {% if events is defined and events is not empty %}
                        <li class="{%if tab and tab == 'events' %}active{% endif %}"><a href="#events">Events</a></li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    <div class="tab-pane {%if tab == '' or tab == 'profile' %}active{% endif %}" id="profile">
                        <div class="col-xs-10">
                            {% if editPersonalInfo is defined and editPersonalInfo %}
                                {{ include('ConnectionUserBundle:Profile/Part/Edit:personal_info.html.twig') }}
                            {% else %}
                                <br/>
                                {{ include('ConnectionUserBundle:Profile/Part/View:personal_info.html.twig') }}<br/>
                                <a href="{{ path('edit_user_profile_edit') }}" class="btn btn-info">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane {%if tab and tab == 'gallery' %}active{% endif %}" id="gallery">
                        {{ include('ConnectionUserBundle:Profile/Part/Edit:gallery.html.twig', {userPhotos: userPhotos}) }}
                    </div>
                    {% if favourites is defined and favourites is not empty %}
                        <div class="tab-pane {%if tab and tab == 'favourites' %}active{% endif %}" id="favourites">
                            {{ include('ConnectionUserBundle:Profile/Part/Edit:favourites.html.twig', {favourites: favourites}) }}
                        </div>
                    {% endif %}
                    {% if events is defined and events is not empty %}
                        <div class="tab-pane {%if tab and tab == 'events' %}active{% endif %}" id="events">
                            {{ include('ConnectionUserBundle:Profile/Part/Edit:events.html.twig', {events: events}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
{% block popup %}
    {{ include('ConnectionUserBundle:Profile/Popup:add_profile_image_popup.html.twig') }}
    {{ include('ConnectionUserBundle:Profile/Popup:view_profile_image_popup.html.twig', {'navbar': true}) }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone-custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/popup/popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionuser/js/fos_message.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/jquery.Jcrop.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/bootstrap-confirmation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionuser/js/profile.js') }}"></script>
    <script type="text/javascript">
        {# Init DropZone #}
        $(document).ready(function() {
            DropZoneStoreage.initDropZone(
                    "{{ path('profile_image') }}",
                    "{{ path('profile_image') }}"
            );

            handleIvyLeague();
            handleOriginallyFrom('#{{form.profile.originallyFrom.vars.id}}', '#{{form.profile.originallyFromCity.vars.id}}');
        });
        
        {# PopUp Listener (Upload/View/Update) #}
        FM.popUp.listen("{{ path('update_profile_image') }}");
        {# Tabs #}
        $('#profile-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        FosMessage.init();

        $('.fm-popup').on('dz.upload.complete', function() {
            location.reload();
        });
    </script>
{% endblock %}