{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{% block theme %}create-profile{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Profile</li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <h4>Account:</h4>
    {{ form_start(form, {'action': path('edit_user_profile'), 'method': 'POST', 'attr': {'class': 'master_slave'}}) }}
        <div class="row">
            <div class="col-xs-2">
                <div id="add-photo">
                    <div class="msg">
                        <div class="sprite sprite-add-photo"></div>
                        + Add photo
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.firstName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                       {{ form_row(form.profile.aboutMe) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.interestsAndHobbies) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.gender) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="master_slave">
                            <div>
                                {{ form_row(form.profile.country) }}
                            </div>
                            {% if (form.profile.state is defined) %}
                                <div id="slave_block">
                                    {{ form_row(form.profile.state) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.seek) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.profile.lookingFor) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.profile.maritalStatus) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.profile.height) }}
                    </div>
                    <div class="col-xs-4">
                        {{ form_row(form.profile.weight) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.eyeColor) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.hairColor) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.smoking) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.drinking) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.education) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.profession) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.languages) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.haveChildren) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.wantChildren) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.livesWithChildren) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.openToPersonWithKids) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.religion) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.profile.ethnicity) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9">
                        {{ form_row(form.submit, { attr: { class: 'btn-gradient' }}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-5"></div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}