{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}

{% block theme %}search-event{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/connectionuser/css/search.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/css/jquery-ui-1.11.1/jquery-ui.css') }}" type="text/css"/>
{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Search Event</li>
        </ul>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <h4>Search</h4>
    <div class="row">
        <div class="search-form">
            {{ form_start(form) }}
                {{ form_widget(form.search) }}
                <div class="form-inline">
                    <div class="select-inline">
                        <label>Event Date:</label>
                        {{ form_widget(form.eventDateFrom) }}-
                        {{ form_widget(form.eventDateTo) }}
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label required">Category:</label>
                        <div class="checkbox-inline">
                            {{ form_widget(form.category) }}
                        </div>
                    </div>
                </div>
                <div class="form-inline text-center">
                    <button type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row filters">
        {#<div class="title">You select filter:</div>#}
        {#<div class="filter">New York</div>#}
        {#<div class="filter">Buffalo</div>#}
        {#<div class="filter">Long Island</div>#}
        {#<div class="filter">Concert</div>#}
        {#<div class="filter">Competition</div>#}
        <div><a class="clear-filter filter" href="{{ path('event_search') }}">Clear all filters</a></div>
    </div>
    <div class="row results-line"><span>results found</span></div>
    {% if topEvents is defined and topEvents is not empty %}
    <div class="row found-1">
        {% for event in topEvents %}
            <div class="col-xs-2">
                <div class="event-small">
                    {% if event.image %}
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="title" href="{{ path('view_event', {'id': event.id}) }}">
                                    <img src="{{ event.image.path }}" alt=""/>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <time>{{ event.eventDate|date }}</time>
                        <a class="title" href="{{ path('view_event', {'id': event.id}) }}">{{ event.title }}</a>
                        <a href="{{ path('view_event', {'id': event.id}) }}" class="btn-gradient">View</a>
                        <br/>
                        {% if event.user.profile.id is defined and event.user.username is defined %}
                            <em>Posted:</em>
                            <a href="{{ path('view_profile', {'id': event.user.profile.id}) }}" class="name">{{ event.user.username }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="found-2">
        <div class="row">
            {% for event in events %}
                <div class="col-xs-4 event-small">
                    <div class="event-small">
                        {% if event.image %}
                            <div class="col-xs-4">
                                <img src="{{ event.image.path }}" alt=""/>
                            </div>
                        {% endif %}
                        <div class="col-xs-8">
                            <time>{{ event.eventDate|date }}</time>
                            <a class="title" href="{{ path('view_event', {'id': event.id}) }}">{{ event.title }}</a>
                            <a href="{{ path('view_event', {'id': event.id}) }}" class="btn-gradient">View</a>
                            <br/>
                            {% if event.user.profile.id is defined and event.user.username is defined %}
                                <em>Posted:</em>
                                <a href="{{ path('view_profile', {'id': event.user.profile.id}) }}" class="name">{{ event.user.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
     </div>
    {% if (pages is defined and pages > 1) and currentPage is defined %}
        <div class="row">
            <div class="paginator">
                {% for page in 1..pages %}
                    <a href="{{ path('event_search', {'page': page}) }}" {{ page == currentPage ? "class='page current'" : "" }} >{{ page }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}