{% extends 'ConnectionUserBundle::registration_layout.html.twig' %}
{% block theme %}create-profile{% endblock %}

{% block fos_user_content %}
    {% if form is defined %}
    {% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}
    {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register master_slave form-horizontal master_slave'}}) }}
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.profile.aboutMe) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.profile.interestsAndHobbies) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{ form_row(form.profile.gender) }}
                </div>
                <div class="col-xs-4">
                    {{ form_row(form.profile.seek) }}
                </div>
                <div class="col-xs-4 birthdate">
                    {{ form_row(form.profile.birthdate, { 'atrr': { 'class': 'select-inline'} } ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="master_slave">
                        <div>
                            {{ form_row(form.profile.country) }}
                        </div>
                        {% if (form.profile.state is defined) %}
                            <div class="slave_block">
                                {{ form_row(form.profile.state) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.profile.seek) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    {{ form_row(form.profile.lookingFor) }}
                </div>
                <div class="col-xs-4">
                    {{ form_row(form.profile.maritalStatus) }}
                </div>
                <div class="col-xs-4">
                    {{ form_row(form.profile.languages) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    {{ form_row(form.profile.height) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.weight) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.eyeColor) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.hairColor) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    {{ form_row(form.profile.smoking) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.drinking) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.education) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.profile.profession) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.profile.haveChildren) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.profile.wantChildren) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.profile.livesWithChildren) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.profile.openToPersonWithKids) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.profile.religion) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.profile.ethnicity) }}
                </div>
            </div>
            {#<div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.captcha) }}
                </div>
            </div>#}
            <div class="row">
                <div class="col-xs-12">
                    {{ form_row(form.agree) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-9">
                    {{ form_row(form.submit, { attr: { class: 'btn-gradient' }}) }}
                </div>
            </div>
            <div class="col-xs-5"></div>
            {{ form_row(form.registrationType, {'value':'extended'}) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    {% endif %}
{% endblock %}

