{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register master_slave form-horizontal'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.profile.gender) }}
        {{ form_row(form.profile.seek) }}
        {{ form_row(form.profile.birthdate) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.email) }}
        <div class="master_slave">
            <div>
                {{ form_row(form.profile.country) }}
            </div>
            {% if (form.profile.state is defined) %}
                <div class="slave_block">
                    {{ form_row(form.profile.state) }}
                </div>
            {% endif %}
        </div>
        {{ form_row(form.profile.city) }}
        {{ form_row(form.profile.zip) }}
        {{ form_row(form.profile.ethnicity) }}
{#        {{ form_row(form.captcha, { 'attr': { 'class' : 'captcha' } } ) }}#}
        {{ form_row(form.agree) }}
        {{ form_row(form.registrationType, {'value':'quick'}) }}
        {{ form_row(form.submit) }}
{{ form_end(form, {'render_rest': false}) }}
