{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}

{% block theme %}content-page{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/connectionmessage/css/messenger.css') }}" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Messenger</li>
        </ul>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h4>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="messenger-container">
            <div class="row">
                <div class="navbar col-xs-2">
                    <ul>
                        <li><a href="{{ url('fos_message_inbox') }}"><i class="glyphicon glyphicon-inbox"></i> {% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_sent') }}"><i class="glyphicon glyphicon-send"></i> {% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_deleted') }}"><i class="glyphicon glyphicon-trash"></i> {% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="messenger-content  col-xs-10">
                    {% block fos_message_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
