{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}
{% form_theme form 'ConnectionUserBundle:Registration:fields.html.twig' %}

{% block theme %}manage-event{% endblock %}

{% block breadcrumbs %}
    <div class="container breadcrumbs">
        <ul>
            <li><a href="{{ path('connection_homepage') }}">Main page</a></li>
            <li>Add an event</li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/connectionevent/css/google/map.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/dropzone/css/dropzone.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionuser/css/profile.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/connectionweb/js/jcorp/css/jquery.Jcrop.min.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <h4>ADD AN EVENT:</h4>
    {{ form_start(form, {'action': path('event_manage', {id: id}), 'attr': {'class': 'fos_user_registration_register master_slave gmap event'}}) }}
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                {{ form_row(form.category) }}
                {{ form_row(form.eventDate, {'attr': {'class': 'datepicker input-append date' } } ) }}
            </div>
            <div class="col-xs-3">
                <div class="master_slave">
                    <div>
                        {{ form_row(form.country,{'attr': {'class': 'selectpicker master' } }) }}
                    </div>
                    {% if (form.state is defined) %}
                        <div class="slave_block" style="margin-top:8px;">
                            {{ form_row(form.state, {'attr': {'class': 'selectpicker slave' } }) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3">
                {{ form_row(form.contactName) }}
                {{ form_row(form.email) }}
{#                {{ form_row(form.phone) }}#}
            </div>
            <div class="col-xs-2">
                <div class="clearfix form-inline">
                    <div class="fm-show-popup" data-target_popup="profile-image">
                        <div id="add-photo">
                            {% if event.image.path is defined and event.image.path is not empty %}
                                <img class="img-rounded" width="140px" height="190" src="{{ event.image.path }}">
                            {% else %}
                                <div class="msg">
                                    <div class="sprite sprite-add-photo"></div>
                                    + Add photo
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                {{ form_row(form.title) }}
                {{ form_row(form.venue) }}
            </div>
            <div class="col-xs-6">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-9">
                <div id="map_canvas"></div>
                {{ form_row(form.lat) }}
                {{ form_row(form.lng) }}
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-3">
                {{ form_row(form.save, { attr: { class: 'btn-gradient' }}) }}
            </div>
            <div class="col-xs-4"></div>
        </div>
    <input id="image_id" type="hidden" name="image_id">

    {{ form_errors(form) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
{% block popup %}
    {{ include('ConnectionEventBundle:Popup:add_event_image_popup.html.twig') }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/dropzone/dropzone-custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/popup/popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/jquery.Jcrop.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionweb/js/jcorp/js/settings.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ asset('bundles/connectionevent/js/google/map.js') }}"></script>
    <script type="text/javascript">
        {# Init DropZone #}
        $(document).ready(function() {
            DropZoneStoreage.initDropZone(
                    "{{ path('profile_image') }}",
                    "{{ path('profile_image') }}"
            );
            $.datepicker.setDefaults({
                dateFormat: "mm/dd/yy"
            });
            $('#{{form.eventDate.vars.id}}').datepicker({
                dateFormat: "mm/dd/yy"
            });
            preLoadSlaveFeedback = function(slaveBlock){
                if(slaveBlock.length){
                    $(slaveBlock).html('');
                }
            }
            loadSlaveFeedback = function(){
                $('#connection_event_type_state').selectpicker();
                MAP.listen();
                MAP.update(10);
            }
        });
        {# PopUp Listener (Upload/View/Update) #}
        FM.popUp.listen("{{ path('update_profile_image') }}");
        {# Tabs #}
        $('#profile-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        $('.fm-popup').on('dz.upload.complete', function (e, file) {
            $("#image_id").val(file.id);
            $("#add-photo").html(
                    $('<img />', { id: file.id, src: file.name, width: "140px", height: "190px"})
            );
        });
    </script>
{% endblock %}
