<div class="col-xs-4 upcoming">
    <div class="row">
        <div class="block-title">Related upcoming events:</div>
    </div>
    {% for event in upcomingEvents %}
    <div class="row">
        <div class="event-small">
            <div class="col-xs-4">
                <a class="title" href="{{ path('view_event', {'id': event.id}) }}">
                    <img src="{{ event.image.path is defined ? event.image.path : "" }}" alt=""/>
                </a>
            </div>
            <div class="col-xs-8">
                <time>{{ event.eventDate is defined ? event.eventDate|date : "" }}</time>
                <a class="title" href="{{ path('view_event', {'id': event.id}) }}">{{ event.title is defined ? event.title : "" }}</a>
                <a href="{{ path('view_event', {'id': event.id}) }}" class="btn-gradient">View</a>
                <br/>
                {% if event.getUser.getProfile is defined %}
                    <em>Posted:</em>
                    <a href="{{ path('view_profile', {'id': event.user.profile.id}) }}" class="name">{{ event.user.username is defined ? event.user.username : "" }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <a href="{{ path('view_upcoming_events', {'id': eventId}) }}">
            <div class="more">View all / others</div>
        </a>
    </div>
</div>
