{% trans_default_domain 'FOSUserBundle' %}
<div class="navbar navbar-first" role="navigation">
    <div class="container">
        <div class="navbar-header">
                {% if is_granted('ROLE_USER') %}
                {% else %}
                    {{ render(controller("ConnectionUserBundle:Facebook:facebookLoginButton")) }}
                    {{ render(controller("ConnectionUserBundle:Twitter:twitterLoginButton")) }}
                {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            {% if is_granted('ROLE_USER') %}
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown search-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('edit_user_profile') }}">My Profile</a></li>
                           {# <li><a href="{{ path('edit_user_profile',{'tab':'gallery'}) }}">My Gallery</a></li>
                            <li><a href="{{ path('edit_user_profile',{'tab':'favourites'}) }}">My Favourites</a></li>
                            <li><a href="{{ path('edit_user_profile',{'tab':'events'}) }}">My Events</a></li>#}
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <p style="color: #ffffff; padding: 7px 20px 0px 0px;" class="navbar-form navbar-right">
                    <a href="{{ path('message_inbox') }}">Messages
                        <span class="badge {{ fos_message_nb_unread() > 0 ? "color-red": "" }}">
                            {{ fos_message_nb_unread() }}
                        </span>
                    </a>
                </p>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                {% include 'ConnectionUserBundle:Default:login_form.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>