<div class="navbar navbar-first" role="navigation">
    <div class="container">
        <div class="navbar-header">
                {% if is_granted('ROLE_USER') %}
                {% else %}
                    {{ render(controller("ConnectionUserBundle:Facebook:facebookLoginButton")) }}
                    {{ render(controller("ConnectionUserBundle:Twitter:twitterLoginButton")) }}
                {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            {% if is_granted('ROLE_USER') %}
                <h4 class="navbar-form navbar-right" style="color:#fff;">
                    Hello <a href="{{ path('edit_user_profile') }}">{{ app.user.username }}</a>
                </h4>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                {{ render(controller("ConnectionUserBundle:Security:login", {'request': app.request})) }}
            {% endif %}
        </div>
    </div>
</div>