<div class="navbar navbar-second" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('connection_homepage') }}">
                <div class="sprite sprite-logo-brand"></div>
                <div class="logo-text"></div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('connection_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li>
                        <a href="{{ path('event_search') }}"><span class="glyphicon glyphicon-globe"></span> Events</a>
                    </li>
                    <li><a href="{{ path('user_search') }}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                    {% if not is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_extended_register') }}">Register</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}">Admin</a></li>
                    {% endif %}
                </ul>
            </form>
        </div>
    </div>
</div>
